.home-container {
  height: 100vh;
  width: 100%;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1356005360/vector/route-mapping-city-streets-car-ride.jpg?s=612x612&w=0&k=20&c=zmcoP55mMdM_a1W7RDRvjV4kYiT_P78d947LztmvVTw=");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}