.home-container {
  height: 100vh;
  width: 100%;
}

.bg-image {
  background-image: url("https://www.geoapify.com/static/draw-route-on-the-map-2f56af7a3ef45c58bc97639e2bf1a438.png");
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.z-index-9 { 
  z-index: 9;
}