* {
  scrollbar-width: none;
}

.grid-r-c {
  grid-template-columns: 1fr auto;
  border: 1px solid #c2c2c2;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.w-60 {
  width: 60px !important;
}

.ver-line {
  padding: 5px 10px;
  border-right: 1px solid #e0e0e0;
  margin-right: 12px;
}

.pick-btn {
  padding: 0;
  height: 30px;
  width: 85px;
}

.height-v-c {
  height: calc(100vh - 360px);
  overflow: auto;
}

.tab-view-flex {
  display: none;
}

.tab-view-none {
  display: flex;
}

@media (max-width: 860px) {
  .ver-line {
    min-width: 80px;
  }
}

@media screen and (max-width: 600px) {
  .width-130 {
    width: 130px !important;
  }
}

@media (max-width: 460px) {
  .tab-view-flex {
    display: flex;
  }

  .tab-view-none {
    display: none;
  }
}
