* {
  scrollbar-width: none;
}

.btn {
  padding: 10px 16px;
  border: none;
  height: 30px;
}

.card-w {
  width: 600px;
}

.ride-card {
  grid-template-columns: 30px auto auto;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
}

.gap-10 {
  gap: 10px;
}

.vehicle-icon {
  top: -33px;
  color: #e91e67;
}

.pick-btn {
  padding: 0;
  height: 30px;
  border: none;
  width: 85px;
}

.top-left {
  left: 10px;
  top: 4px;
}

.icon-c {
  color: #0056b3;
}

.height-v-c {
  height: calc(100vh - 360px);
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .card-w {
    width: 100%;
  }

  .ride-card {
    grid-template-columns: 30px 160px 95px;
  }
}
